/* boards/shields/charybdis/dongle_nice_64.overlay */
#include "dongle_nice_common.dtsi"

/* ▼ 1. 여기서 핀 번호를 17, 20번으로 강제 고정합니다 (이게 없으면 지지직거림) */
&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
            low-power-enable;
        };
    };
};

/* ▼ 2. 1.3인치 화면 드라이버 설정 */
&pro_micro_i2c {
    status = "okay";
    /* 위에서 만든 핀 설정을 적용 */
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    oled: sh1106@3c {
        compatible = "sinowealth,sh1106";
        reg = <0x3c>;
        width = <128>;
        height = <64>;
        
        /* 1.3인치는 보통 0 아니면 2입니다. 일단 2로 갑니다 */
        segment-offset = <2>;
        page-offset = <0>;
        display-offset = <0>;
        
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        prechargep = <0x22>;
    };
};
